/* Estilos gerais */
body {
  font-family: Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header img {
  max-width: 150px;
}

.personagem-usuario {
  display: flex;
  align-items: center;
}

.personagem-nome-candidato {
  font-weight: bold;
}

.personagem-nome-candidato,
.personagem-candidato {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.personagem-usuario--logado {
  background-color: #eaedf0;
  color: rgb(112, 109, 109);
  font-weight: bold;
  border-radius: 5%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personagem-nome-usuario {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

/* Corpo principal */
.personagem-body {
  margin-top: 20px;
}

.personagem-padding {
  padding: 20px;
  background-color: #eef0f7;
  border-radius: 5px;
}

.personagem-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.personagem-subtitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.personagem-search-bar {
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

.personagem-input {
  position: relative;
  width: 20%;
}

.personagem-input input {
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.personagem-input input::placeholder {
  font-style: italic;
}

.search-icon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%) translateX(22px);
}

/* Lista de personagens */
.personagem-title--lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  color: #b7bcc2;
  margin-bottom: 10px;
}

.personagem-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.personagem-item:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.personagem-item img {
  max-width: 50px;
  border-radius: 5px;
}

.personagem-img--title {
  display: flex;
  align-items: center;
}

.personagem-img--title label {
  padding: 0px 10px;
}

/* Footer e paginação */
footer {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}

.pagination button.active,
.pagination button:hover {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  header {
    padding: 10px;
  }

  header img {
    max-width: 100px;
  }

  .personagem-usuario {
    display: flex;
  }

  .personagem-nome {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
  }

  .personagem-nome-candidato {
    font-weight: bold;
  }

  .personagem-nome-candidato, .personagem-candidato {
    font-size: 12px;
    margin-right: 0;
  }

  .personagem-usuario--logado {
    margin-top: 5px;
  }

  .personagem-body {
    margin-top: 0;
  }

  .personagem-padding {
    padding: 10px;
    background-color: #eef0f7;
  }

  .personagem-title {
    text-align: center;
    font-size: 22px;
  }

  .personagem-subtitle {
    text-align: center;
    font-size: 18px;
  }

  .personagem-search-bar {
    margin-bottom: 15px;
  }

  .search-icon {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
  }

  .personagem-input input{
    width: calc(100% - 40px);
    margin: 0 10px;
  }

  .personagem-input input::placeholder {
    font-style: italic;
}

  .personagem-title--lista {
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;
  }


  .personagem-title--lista label {
    display: none;
  }

  .personagem-title--lista label:first-child {
    display: block;
    color: #b7bcc2;
    font-size: 12px;
    margin: 0px 0px 5px 50px;
  }

  .personagem-item {
    display: flex;
    padding: 10px;
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .personagem-item:last-child {
    border-bottom: none;
  }

  .personagem-item img {
    width: 40px;
    height: 40px;
  }

  .personagem-item > *:not(.personagem-img--title) {
    display: none;
  }

  .personagem-img--title {
    display: flex;
    align-items: center;
  }

  .personagem-img--title label {
    padding: 0 10px;
  }

  .pagination {
    justify-content: space-between;
    padding: 0 10px;
  }

  .pagination button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .personagem-input {
    width: calc(100% - 20px);
  }

  .personagem-title--series .personagem-title--eventos {
    display: none;
  }
}

/* CSS para um spinner mais estilizado */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3; /* Cor do fundo */
  border-top: 8px solid #3498db; /* Cor da animação */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 8px solid transparent;
}

.loader:before {
  border-top: 8px solid #e74c3c; /* Cor do segundo anel */
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  animation: spin 1.2s linear infinite reverse; /* Animação no sentido inverso */
}

.loader:after {
  border-top: 8px solid #9b59b6; /* Cor do terceiro anel */
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  animation: spin 1.5s linear infinite; /* Animação no mesmo sentido do loader principal */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
